# ===== 忽略不需要的 =====
__pycache__/
*.pyc
.idea/
checkpoints/
HF/
model/__pycache__
model/bigram.py
model/model.py
model/v2.py
runs/
*.pth
.vscode/
HF_Access_Token.txt
input.txt
.env
*.rar

# ===== 关键：只忽略这些，不要用 * =====